main {
    margin-top: 100px;
}

h5 {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
}

.radio_input label {
    padding-left: 0;
    margin-right: 15px;
    color: #999;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.55rem + 2px) !important;
}

main {
    margin-top: 50px !important;
}

.error {
    color: red;
}