.popover-content {
padding: 9px 0px !important;
}

.ar .popover-content {
text-align: right;
}
/* stop login page from moving while page reload*/
.css-transitions-only-after-page-load * {
-webkit-transition: none !important;
-moz-transition: none !important;
-o-transition: none !important;
}

body {
color: #4E596B;
background-color: #F3F6F8;
max-width: 100%;
min-width: 290px;
height: 100%;
line-height: 1.38;
-webkit-text-size-adjust: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-overflow-scrolling: touch;
overflow-y:auto;
}

main {
display: table;
position: absolute;
width: 100%;
height: 100%;
background: linear-gradient(135deg, #fff 0%, #f3f6f8 100%);
padding-top:60px;
font-size:1.05em;
}

main:before {
content: "";
position: fixed;
left: -22%;
top: 60%;
right: 0;
width: 125%;
height: 100%;
background: linear-gradient(135deg, #f3f6f8 0%, #fff 100%);
transform: rotate(15deg);
}

.login {
display: table-cell;
vertical-align: middle;
position: relative;
padding: 20px;
}

.SignUp {
display: table-cell;
vertical-align: middle;
position: relative;
padding: 20px;
}

.login-form {
width: 400px;
margin: 0 auto;
}

.box-toggle a {
color: #9DB2C2;
padding: 6px 10px 7px 10px;
border-radius: 3px;
font-size: 0.7em;
}

.box-toggle a.active {
color: #fff;
background-color: #9DB2C2;
}

.box-toggle {
float: right;
padding: 11px 15px;
}

.logo {
background-image: url(/Assets/images/logo/logo-default.png);
background-size: contain;
background-repeat: no-repeat;
width: 150px;
height: 60px;
float: left;
}

.login-with{
max-width: 38px;
line-height: 1.3;
padding: 19px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
cursor: pointer;
position: relative;
display: inline-block;
}

.login-with.facebook{
background-color: #3B5998;
}

.login-with.twitter{
background-color: #4AB3F4;
}

.login-with.google{
background-color: #DC4E41;
}

a.login-with.facebook:before {
content: "\e093";
}

a.login-with.google:before {
content: "\e096";
top: 12px;
}

a.login-with.twitter:before {
content: "\e094";
}

a.login-with.facebook:before, a.login-with.google:before,a.login-with.twitter:before {
font-family: 'ElegantIcons';
position: absolute;
left: 12px;
top: 10px;
font-size: 16px;
font-size: 1rem;
color: #fff;
}

.divider span {
    background-color: #f8fafb;
    display: inline-block;
}

.divider {
    margin: 17px 0;
    background-color: #9db2c2;
}

a.btn_1.rounded, .btn_1.rounded {
     -webkit-border-radius: 3px !important; 
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
     border-radius: 3px !important; 
}

.sd-checkbox{
    margin-bottom:15px;
}

.sd-checkbox input:checked ~ .checkmark {
    background-color: rgb(157, 178, 194);
}

.text-header{
    color: #888;
    text-align:center;
}

.btn_1.red{
    background:#F44336;
}

a.btn_1.red:hover, .btn_1.red:hover {
    background: #d43c31;
    color: #fff;
}

.btn_1.orange{
    background:#f0ad4e;
}

a.btn_1.orange:hover, .btn_1.orange:hover {
    background: #ff7f27;
    color: #fff;
}

ul, ol {
    margin:0;
}

.academia-register{
width: 500px;
margin: 0 auto;
}

@media only screen and (max-width: 991px){
    .login-form{
        width:100%;
    }

    .academia-register{
        width:100%;
    }
}